

@import url("./parts/header.css");
@import url("./parts/layout.css");
@import url("./parts/modal.css");

body{
    background-color: #ccc
}

.display{
    display: block;
}

.hidden{
    display: none;
}