.header-inner{
  width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0px;
}

.logo-img{
  margin-left: 24px;
}

.header-right{
  display: flex;
}

.header-p{
  margin-right: 32px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #666666;
}

.mainvisual-wrapper{
  width: 1440px;
  height: 680px;
  position: relative;
  max-width: 100%;
}

.first-img{ 
  width: 800px;
  height: 600px;
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  border-radius: 60px 0px 0px 60px;
  overflow: hidden;
}

.content-first{
  position: absolute;
  width: 500px;
  height: 281px;
  top: 198px;
  left: 80px;
  right: 860px;
  border: #EFF2F5;
  background-color: #EFF2F5;
  border-radius: 24px;
}

.title-first{
  position: absolute;
  width: 376px;
  height: 29px;
  top: 40px;
  bottom: 212px;
  left: 62px;
  right: 62px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #0071BC;
  line-height: 180%;
}

.about-title-first{
  position: absolute;
  width: 375px;
  height: 160px;
  top: 81px;
  bottom: 40px;
  left: 62px;
  right: 63px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #333333;
}

.title-first-sub{
  position: absolute;
  width: 88px;
  height: 21px;
  top: 635px;
  bottom: 24px;
  left: 126px;
  right: 1224px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #333333;
}

.about-wrapper{
  width: 984px;
  height: 442px;
  position: relative;
} 

.content-second-inner{
  text-align: center;
  width: 195px;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 399px;
}

.title-second{
  list-style: none;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  text-align: center;
  color: #333333;
}

.title-second-sub{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  color: #0071BC;
}

.second-inner-bottom{
  /* width: 984px;
  height: 312px; */
  display: flex;
  justify-content: center;
  position: absolute;
  /* margin-left: 228px;
  margin-right: 228px;
  margin-top: 130px; */
}

.second-img{
  width: 472px;
  height: 312px;
  position: absolute;
  /* top: 130px;
  left: 228px; */
  border-radius: 24px;
  overflow: hidden;
}

.second-text{
  position: absolute;
  /* margin-right: 40px; */
  overflow: hidden;
  /* top: 198px;
  left: 512px;
  bottom: 680px;
}  */

.{
  width: 472px;
  height: 175px;
  justify-content: center;
  margin-top: 68.5px;
  width: 472px;
  height: 175px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: justify;
  color: #333333;
} */

/* .section-c-area{
  /* position: relative;
  margin-top: 140px;
  margin-bottom: 136px;
  margin-left: 236px;
  margin-right: 226px */
}

/* .section-c-top{
  position: relative;
  margin-top: 140px;
  margin-left: 230px;
  margin-right: 226px; */
  margin-bottom: 136px;
  /* position: absolute; */
  /* margin: auto; */
  /* border-radius: 48px;
  overflow: hidden;
  background-color: #0071BC;
  display: inline-block;
  width: 984px;
  height: 357px; */ */
}

/* .color-change{
  width: 984px;
  height: 357px;
  opacity: 0.2;
  display: block;
}

.section-c-moji{
  width: 281px;
  height: 65px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1418px;
  bottom: 659px;
  left: 536px;
  right: 504px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  color: #FFFFFF;
} */

/* .line-icon{
  width: 40px;
  height: 40px;
  background-color: white;
  background-size: auto;
}

.bunn{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 536px;
  height: 66px;
  top: 1490px;
  bottom: 577px;
  left: 455px;
  right: 440px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF; */
/* }

.button{
  width: 320px;
  height: 50px;
  display: inline-block;
  background: #FFFFFF;
  color: #FFFFFF;
  border-radius: 98px;
  border-color: #FFFFFF;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #666666;
  position: absolute;
  top: 1593px;
  bottom: 503pxpx;
  left: 563px;
  right: 557px;
}

.line{
  position: absolute; width: 288px;
  height: 80px; 
  right: 16px;
  bottom: 16px;
  background: #5FDF5B;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.line-icon{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 24px;
  top: 22px;
} */

/* .line-p{
  position: absolute;
  width: 142px;
  height: 36px;
  left: 73px;
  top: 22px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}

.link-icon{
  position: absolute;
  left: 0%;
  right: 8.7%;
  top: 8.7%;
  bottom: 0%;
  border: 2px solid #FFFFFF;
} */

/* .footer-top{
  display: flex;
  justify-content: center;
}

.footer-next{
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  color: #666666;
}

.footer-icon{
  display: flex;
  justify-content: center;
} */

 */ */
